[submodule "external/NamedType"]
	path = external/NamedType
	url = https://github.com/joboccara/NamedType.git
[submodule "external/quill"]
	path = external/quill
	url = https://github.com/odygrd/quill.git
